.barcode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    max-width: 100%;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(15, 76, 117, .25);
}

button.btn-primary {
    background-color: #0f4c75;
    border-color: #0f4c75;
}

button.btn-primary:hover {
    background-color: #3282b8;
    border-color: #3282b8;
}

@media (max-width: 576px) {
    .barcode-container {
        flex-direction: column;
    }
}