.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    color: #1b262c;
}

.footer-title {
    margin-bottom: 10px;
}

.footer-social-icons {
    font-size: 16px;
}

.footer-social-icons li:last-child {
    margin-right: 0;
}

.footer-appname {
    margin-bottom: 10px;
    font-size: 17px;
    color: #1b262c;
}

.footer a {
    text-decoration: none;
    color: #0f4c75;
}